.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 5px 5px;
    height: 97vh;
  }
  
  .geo-map { grid-area: 1 / 1 / 6 / 8; }
  
  .cases-graph { grid-area: 1 / 8 / 6 / 13; }
  
  .death-rate { grid-area: 6 / 1 / 8 / 5; }
  
  .survival-rate { grid-area: 6 / 5 / 8 / 9; }
  
  .some-other-rate { grid-area: 6 / 9 / 8 / 13; }
  
  .county-overview { grid-area: 8 / 1 / 13 / 7; }
  
  .another-thing { grid-area: 8 / 7 / 13 / 13; }
  